<h2>Reports</h2>
{% for rec in reports %}
	<p>ID: {{rec.get('id')}}</p>
	<p>Timestamp: {{rec.get('created')}}</p>
	<p>Urgency: {{rec.get('urgency')}}</p>
	<p>Location: {{rec.get('location')}}</p>
	<p>Is Anonymours: {{rec.get('is_anonymous')}}</p>
	<p>Follow up enabled: {{rec.get('follow_up')}}</p>

	{% if not rec.get('is_anonymous') %}
	<p>Name: {{rec.get('reporter_name')}}</p>
	<p>Dorm: {{rec.get('reporter_dorm')}}</p>
	<p>Phone: {{rec.get('reporter_phone')}}</p>
	<p>Id: {{rec.get('reporter_id_num')}}</p>
	{% endif %}

	<hr />
{% endfor %}